function GameEngine.new 0
push constant 8
call Memory.alloc 1
pop pointer 0
push pointer 0
return
function GameEngine.initializeComponents 0
push argument 0
pop pointer 0
push pointer 0
call GameEngine.initializeEnemySequence 1
pop temp 0
push constant 256
pop this 3
push constant 512
pop this 2
push constant 16
pop this 4
push constant 33
pop this 1
push this 2
push this 4
call Math.divide 2
push constant 2
call Math.divide 2
push constant 1
sub
pop this 5
push this 3
push this 4
call Math.divide 2
push constant 11
call Math.multiply 2
pop this 6
push this 3
push this 4
call Math.divide 2
push constant 10
call Math.multiply 2
pop this 7
push constant 0
return
function GameEngine.run 8
push argument 0
pop pointer 0
push constant 0
pop local 3
push constant 0
pop local 4
push pointer 0
call GameEngine.initializeComponents 1
pop temp 0
push pointer 0
call GameEngine.drawTerrain 1
pop temp 0
label WHILE_EXP0
push local 3
not
not
if-goto WHILE_END0
push this 1
push local 4
push this 5
push constant 1
add
call MathUtils.getCircularIndex 3
pop local 5
push local 5
push this 0
add
pop pointer 1
push that 0
pop local 1
push pointer 0
push local 4
call GameEngine.printEnemySequence 2
pop temp 0
push local 4
push constant 1
add
pop local 4
push local 4
push this 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 4
label IF_FALSE0
push constant 1000
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function GameEngine.initializeEnemySequence 0
push argument 0
pop pointer 0
push constant 33
call Array.new 1
pop this 0
push constant 0
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push this 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push this 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 30
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 31
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 32
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function GameEngine.printEnemySequence 4
push argument 0
pop pointer 0
push argument 1
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push this 2
push this 4
call Math.divide 2
lt
not
if-goto WHILE_END0
push this 0
push argument 1
push local 1
call MathUtils.getCircularIndex 3
pop local 0
push constant 11
push constant 32
call Math.multiply 2
push this 3
push this 4
call Math.divide 2
call Math.multiply 2
push this 2
push this 4
call Math.divide 2
push local 1
sub
add
pop local 2
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 3
push local 3
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 2
call Graphics.drawCactus 1
pop temp 0
label IF_FALSE0
push local 3
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 2
call Graphics.drawBlank 1
pop temp 0
label IF_FALSE1
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function GameEngine.drawTerrain 2
push argument 0
pop pointer 0
push constant 12
push this 3
push this 4
call Math.divide 2
call Math.multiply 2
push constant 32
call Math.multiply 2
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push this 2
push this 4
call Math.divide 2
lt
not
if-goto WHILE_END0
push local 0
call Graphics.drawTerrain1 1
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
call Graphics.drawTerrain2 1
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
call Graphics.drawTerrain3 1
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function GameEngine.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
