function MathUtils.getCircularIndex 2
push argument 1
push argument 2
add
pop local 0
push local 0
push argument 0
push constant 1
sub
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
push constant 1
sub
push local 0
sub
pop local 1
goto IF_END0
label IF_FALSE0
push local 0
pop local 1
label IF_END0
push local 1
return
